body{
    background-color: #F0FFFF;
}
.underline{
    background-color: #7CB9E8;
    width: 100px;
    height: 5px;
    margin-top: 30px;
    margin-left: 52%;
}
#review{
    width: 225px;
    height: 25px;
    margin: 0;
    margin-top: 200px;
    padding: 0;
    margin-left: 49%;
    font-size: 40px;
}

#container{
    color: black;
    box-shadow: 0 0 5px 0;
    height: 450px;
    /* width: 60%; */
    width: 525px;
    margin-top: 90px;
    margin-left: 40%;
    margin-right: 40%;
    background-color: white;
    border: 0.5px solid white;
    /* width: 200px; */
}
img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-left: 155px;
    margin-top: 5px;
    border: 0.5px #7CB9E8 solid;
    margin-bottom: 20px;
    
}

section{
    text-align: center;
}
#name{
    font-size: 25px;
    font-weight: bold;
    
}
#job{
    margin-top: 5px;
    font-size: 15px;
    color: #7CB9E8;
}

#review2{
    margin-top: 10px;
}

.btn{
    border: none;
    /* background-color: white; */
    margin-top: 10px;
    background-color: #7CB9E8;
    border-radius: 20px;
    width: 40px;
    height: 40px;
}
#btnleft{
    margin-left: 210px;
}

#btnright{
    
    margin-left: 20px;
}
#btnlast{
    margin-top: 10px;
    margin-left: 200px;
    width: 125px;
    height: 30px;
    background-color: #F0FFFF;
    border: 1px solid #7CB9E8;
    border-radius: 10px;
}